#boston{
    height: 100%;
    width: 100%;
    color: #f7f7f7;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
#boston:hover{
    cursor: url("../assets/cursorBOS.svg"), pointer;
}
#backgroundBOS{
    height: 100%;
    background-image: url(../images/1.webp);
    background-size: cover;
    background-position: top;
}

/* .wrapperBOS{
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 90%;
} */
#contentBOS{align-items: flex-end;}
#textBOS h2{color: #007A33;}

@media screen and (width<=800px){
    #contentBOS{align-items: center;}
}
