
#brooklyn{
    height: 100%;
    width: 100%;
    color: #f7f7f7;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
#brooklyn:hover{
    cursor: url("../assets/cursor.svg"), pointer;
}

#backgroundBRO{
    height: 100%;
    background-image: url(../assets/11.jpg);
    background-position: center;
    background-size:cover;
}
/* .wrapperBRO{
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 90%;
} */
#textBRO h2{color: #CCCC;}