#caroussel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;


  h1{
    z-index: 10;
    position: absolute;
    color: #f7f7f7;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .car-btns {
    width: 100vw;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

    button {
      margin: 20px;
      cursor: pointer;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: transparent;
      border: none;
      position: relative;
      transition: background-color 0.4s ease-in-out;

      &:hover {
        background: rgba(146, 146, 146, 0.2);
      }

      svg {
        position: absolute;
        width: 45px;
        height: 45px;
      }
      #to-left {
        top: 50%;
        left: 45%;
        transform: translate(-45%, -50%);
      }
      #to-right {
        top: 50%;
        left: 55%;
        transform: translate(-55%, -50%);
      }
    }
  }

  #car-wrapper {
    position: relative;
    width: 300%;
    height: 100%;
    transition: transform 0.5s ease-in-out;

    .car-imgs {
      position: absolute;
      height: 100%;
      width: 34%;

      .sound-btn {
        z-index: 10;
        cursor: pointer;
        width: 200px;
        height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: none;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(27, 27, 27, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);

        svg {
          width: 50px;
          height: 50px;
          position: absolute;
          top: 50%;
          left: 55%;
          transform: translate(-55%, -50%);
        }
      }
    }
    #fst-img {
      left: 0%;
      background-image: url(../photos/kyrieDraft.jpeg);

      background-position: center;
      background-size: cover;
    }

    #snd-img {
      left: 34%;
      background-image: url(../photos/kyrieCavs2.jpeg);
      background-position: center;
      background-size: cover;
    }
    #trd-img {
      left: 68%;
      background-image: url(../photos/Irving5.jpg);
      background-position: center;
      background-size: cover;
    }
  }
}
