#caroussel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#caroussel h1 {
  z-index: 10;
  position: absolute;
  color: #f7f7f7;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#caroussel .car-btns {
  width: 100vw;
  z-index: 1;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

#caroussel .car-btns button {
  margin: 20px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  position: relative;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

#caroussel .car-btns button:hover {
  background: rgba(146, 146, 146, 0.2);
}

#caroussel .car-btns button svg {
  position: absolute;
  width: 45px;
  height: 45px;
}

#caroussel .car-btns button #to-left {
  top: 50%;
  left: 45%;
  -webkit-transform: translate(-45%, -50%);
          transform: translate(-45%, -50%);
}

#caroussel .car-btns button #to-right {
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-55%, -50%);
          transform: translate(-55%, -50%);
}

#caroussel #car-wrapper {
  position: relative;
  width: 300%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

#caroussel #car-wrapper .car-imgs {
  position: absolute;
  height: 100%;
  width: 34%;
}

#caroussel #car-wrapper .car-imgs .sound-btn {
  z-index: 10;
  cursor: pointer;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(27, 27, 27, 0.37);
          box-shadow: 0 8px 32px 0 rgba(27, 27, 27, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#caroussel #car-wrapper .car-imgs .sound-btn svg {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-55%, -50%);
          transform: translate(-55%, -50%);
}

#caroussel #car-wrapper #fst-img {
  left: 0%;
  background-image: url(../photos/kyrieDraft.jpeg);
  background-position: center;
  background-size: cover;
}

#caroussel #car-wrapper #snd-img {
  left: 34%;
  background-image: url(../photos/kyrieCavs2.jpeg);
  background-position: center;
  background-size: cover;
}

#caroussel #car-wrapper #trd-img {
  left: 68%;
  background-image: url(../photos/Irving5.jpg);
  background-position: center;
  background-size: cover;
}
/*# sourceMappingURL=caroussel.css.map */