
$duke-color: #0044BE;
$cle-color: #FDBB30;
$bos-color:#007A33;
$bro-color: #ccc;

.aStory{
    position: absolute;
    right: 0%;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transform: translate(100%,0%);
    transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);


    .card{
        height: 60%;
        width: 30%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        // overflow: scroll;
        // border: 2px solid blue;
    
        h1{
            color: $cle-color;
            font-size: 2.2vmax;
            text-align: center;
        }
        p{
            text-align: justify;
            padding-left: 10px;
            border-left: 2px solid $cle-color;
            font-size: 1.2vmax;
        }
    }
    
    .photos{
        // THIS ACTUALLY THE CAVALIER STORY SETUP
        position: relative;
        height: 80%;
        aspect-ratio: 3/3;
        display: grid;
        grid-template-columns: 1fr 1.2fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px;

        .imgs{
            width: 100%;
            height: 100%;
            filter: grayscale(100%);
            transition: filter 0.3s ease-in-out;
            background-size: cover;
            background-position: center;

            &:hover{filter: grayscale(10%);}
            &:first-child{
                grid-column: 1;
                grid-row: 1;
                background-image: url(../photos/kyrieCavs1.jpg);
            }
            &:nth-child(2){
                grid-column: 2;
                grid-row: 1/3;
                background-image: url(../photos/kyrieCavs3.jpeg);
                background-position: center;
            }
            &:nth-child(3){
                grid-column: 1;
                grid-row: 2;
                background-image: url(../photos/kyrieCavs2.jpeg);
                background-position: top center;
            }
        }

    }

    .leave-story{
        cursor: pointer;
        position: absolute;
        bottom: 20px;
        left: 20px;
        border: none;
        background-color: transparent;
        color: white;
        height: 50px;
        width: 190px;
        overflow: hidden;

        &::before{
            position: absolute;
            content: "LEAVE STORY";
            top: 50%;
            left: 0%;
            transform: translate(50%,-50%);
            transition: all 0.2s ease-in;
            opacity: 0%;
            // opacity: 100%;
        }
        &::after{
            position: absolute;
            top: 50%;
            left: 20%;
            transform: translate(-50%,-50%);
            opacity: 100%;
            content: url(../assets/leaving.svg);
            transition: all 0.2s ease-in;
        }
        &:hover::before{
            left: 10%;
            opacity: 100%;
        }
    }



}

#isDuke{
    // right: 0%;
    h1{color: $duke-color;}
    p{border-left: 2px solid $duke-color;}
    .photos{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1.2fr;
        .imgs{
            &:first-child{
                // background-image: url(../photos/kyrieBrook1.jpg);
                background-image: url(../photos/kyrieDuke4.jpeg);
                background-position: top center;
                grid-column: 1/3;
                grid-row: 1/1;
            }
            &:nth-child(2){
                grid-column: 1/1;
                grid-row: 2/2;
                background-image: url(../photos/kyrieDuke1.jpeg);
                background-position: center;
            }
            &:nth-child(3){
                background-image: url(../photos/kyrieDuke2.jpeg);
                background-position: top center;
                grid-column: 2/2;
                grid-row: 2/2;
            }
        }
    }
}

#isBoston{
    h1{color: $bos-color;}
    p{border-left: 2px solid $bos-color;}

    .photos{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1.2fr;
        .imgs{
            &:first-child{
                // background-image: url(../photos/kyrieBrook1.jpg);
                background-image: url(../photos/kyrieBost1.jpg);
                background-position: top center;
                grid-column: 1/3;
                grid-row: 1/1;
            }
            &:nth-child(2){
                grid-column: 1/1;
                grid-row: 2/2;
                background-image: url(../photos/kyrieBost5.jpeg);
                background-position: center;
            }
            &:nth-child(3){
                background-image: url(../photos/kyrieBost4.jpeg);
                background-position: top center;
                grid-column: 2/2;
                grid-row: 2/2;
            }
        }
    }
}


#isBrooklyn{
    h1{color: $bro-color;}
    p{border-left: 2px solid $bro-color;}
    .photos{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1.2fr;

        .imgs{
            &:first-child{
                background-image: url(../photos/kyrieBrook1.jpg);
            }
            &:nth-child(2){
                grid-column: 2/2;
                grid-row: 1/1;
                background-image: url(../photos/kyrieBrook3.jpg);
                background-position: right;
            }
            &:nth-child(3){
                background-image: url(../photos/kyrieBrook4.jpg);;
                background-position: top center;
                grid-column: 1/3;
                grid-row: 2;
            }
        }
    }


}