
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

/* 
[BASE DE L'AFFICHAGE]
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    scroll-behavior: smooth;

}
body{
    height: 100%;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    
}
#content{
    min-height: 500px;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* 
[PREMIERE PAGE]
 */
#menu{
    min-height: 500px;
    position: absolute;
    z-index: 1;
    right: 0%;
    top: 0%;
    transform: translate(100%, 0%);
    height: 100%;
    padding: 3rem;
    width: 32px;
    background: rgba(146, 146, 146, 0.2);
    box-shadow: 0 8px 32px 0 rgba( 27,27,27, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

}

#social-wrapper{
    cursor: pointer;
    width: fit-content;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.socials{
    width: 44px;
    height: 44px;
    /* background-color: blue; */
    /* border-radius: 30%; */
    border-radius: 50%;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
}
.socials:hover{
    border-radius: 30%;
    filter: grayscale(0%);

}

#linkedin{background-image: url(../assets/link.svg); background-position: center; background-size: contain;}
#github{background-image: url(../assets/Github.svg); background-position: center; background-size: contain;}
#instagram{background-image: url(../assets/instagram-logo.svg); background-position: center; background-size: contain;}
#portfolio{background-image: url(../assets/portfolio.svg); background-position: center; background-size: contain;}

/* NICE LITTLE ANIMATION */
#portfolio:hover::before{
    position: absolute;
    opacity: 0%; 
    left: -250%;
    top: 150%;
    transform: rotate(-30deg);
    content: url(../assets/lowerArrow.svg);
    animation: slb 0.3s ease-in-out forwards;
    

}
#portfolio:hover::after{
    
    font-family: 'Reenie Beanie', cursive;
    font-size: 1.5rem;
    position: absolute;
    opacity: 0%;
    left: -680%;
    top: 160%;
    color: #d3d3d3;
    content: "check out my portfolio";
    animation: sla 0.3s ease-in-out forwards;
}

@keyframes slb {
    0%{
        opacity: 0%;
        transform: rotate(-30deg) translate(0%, 0%);
    }
    100%{
        transform: rotate(-30deg) translate(40%, 100%);
        opacity: 100%;
    }
}

@keyframes sla {
    0%{opacity: 0%; transform: translate(0%, 0%);}
    100%{opacity: 100%; transform: translate(20%, 20%);}
}


/* POUR LE BOUTON DE MENU */
#menu-btn{
    position: absolute;
    z-index: 1;
    right: 0%;
    margin: 2rem;
    cursor: pointer;
    height: 60px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: all 0.8s ease-in-out;
    overflow: hidden;

}
#checkbox-element{display: none;}
.part-of-menu-btn{
    position: relative;
    height: 4px;
    width: 32px;
    background-color: #f7f7f7;
    transition: all 0.8s ease-in-out;
}
.part-of-menu-btn:nth-child(2){
    transform: rotate(-45deg);
}
.part-of-menu-btn:nth-child(3){
    transform: rotate(-45deg) scale(0.7,1);
}
.part-of-menu-btn:nth-child(4){
    transform: rotate(-45deg);
}

#checkbox-element:checked ~ .part-of-menu-btn:nth-child(2){
    /* top: 10px; */
    transform: translate(0px, 11px) rotate(-45deg);

}

#checkbox-element:checked ~ .part-of-menu-btn:nth-child(3){
    opacity: 0%;
}

#checkbox-element:checked ~ .part-of-menu-btn:nth-child(4){
    transform: translate(0px, -11px) rotate(45deg);
}



.firstLook{
    height: 100%;
    width: 100%;
    min-height: 325px;
    overflow: scroll;
}
/* .firstLook:hover{cursor: url("../assets/cursor.svg"), pointer;} */
.background{
    height: 100%;
    background-image: url(../photos/Irving5.jpg);
    /* background-image: url(../images/9.webp); */
    /* background-image: url(../photos/kyrieDraft.jpeg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
}
.text{
    padding: 2rem;
    height: 100%;
    min-height: 326px;
    width: 100%;
    position: absolute;
    color: #f7f7f7;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: brightness(80%);
    
}
.topBar{
    width: 100%;
    display: flex;
    justify-content:space-between;
    font-size: 1.2rem;
    /* animation: slideDown 2s ease-out;  */

    
}
/* @keyframes slideDown {
    0%{transform: translateY(-200%); opacity: 0%;}
    100%{transform: translateY(0%); opacity: 100%;}
} */
.topBar a{
    text-decoration: none;
    color: #f7f7f7;
    transition: color 0.2s ease;
}
.topBar a:hover{
    color: rgba(146, 146, 146);
}

.mainIcon{
    align-self: center;
}
.mainIcon:hover .to-color{fill: rgba(146, 146, 146);}
nav{
    display: flex;
    gap: 1vw;
}
.navText{align-self: center;}
#la{align-self: flex-end;}
#ua{align-self: flex-start;}

#title-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2vmax;
    overflow: hidden;

}
#title-container h1{
    position: relative;
    letter-spacing: .5rem;
    font-family: 'Abril Fatface', cursive;
    /* animation: revealFromBottom 2s ease forwards 2s; */
}

/* @keyframes revealFromBottom {
    0%{
        opacity: 0%;
        transform: translateY(100%);
    }
    100%{
        opacity: 100%;
        transform: translateY(0%);
        
    }
} */

img{
    transition: width 0.2s ease-in-out;
}

#straightArrow{
    animation: up-and-down infinite 0.7s alternate;
}

@keyframes up-and-down {
    100%{transform: translateY(5px);}
}

#noResponsiveForSmallDevices{display: none;}
@media screen and (max-width: 1000px){
    #content{display: none;}
    #noResponsiveForSmallDevices{
        display: initial;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10;
        background-color: black;
        color: #f7f7f7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #noResponsiveForSmallDevices h1{
        font-size: 9vw;
    }
    #noResponsiveForSmallDevices p{
        font-size: 2vw;
    }
}